.present{
    opacity: 1;
}
.past, .future{
	opacity: 0;
}
.cube-vertical .past{
-webkit-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
transform-origin: 0% 0%;
-webkit-transform: translate3d(0,100%,0) rotateX(-90deg);
-moz-transform:  translate3d(0,100%,0) rotateX(-90deg);
-ms-transform: translate3d(0,100%,0) rotateX(-90deg);
transform:  translate3d(0,100%,0) rotateX(-90deg);
}
.cube-vertical .future{
-webkit-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
transform-origin: 0% 0%;
-webkit-transform: rotateX(90deg) translate3d(0,-100%,0);
-moz-transform: rotateX(90deg) translate3d(0,-100%,0) ;
-ms-transform:  rotateX(90deg) translate3d(0%,-100%,0);
transform:  rotateX(90deg) translate3d(0,-100%,0);
}